@page "/kunden"
@using Models
@inject NorthwindContext db
<h3>Kunden</h3>


    <input class="form-control" @bind-value="filter" @bind-value:event="oninput" />

<ul class="list-group">

        @foreach (var item in db.Customers.Where(x => x.CompanyName.Contains(filter)))
        {
            <li class="list-group-item">@item.CompanyName</li>
        }


</ul>
@code {
   
    string filter = "";
  
}
